{% extends 'base.html' %}
{% load paginate_tags %}
{% block content %}
{% paginate comment_list 4 %}
    <h1>{{ article.title }}</h1>
    <p>
        发表时间: {{ article.created_time|date:"Y /m /d" }} 修改时间: {{ article.last_modified_time|date:"Y /m /d" }}
        所属分类: <a class="btn btn-danger btn-xs" href="{% url 'Main:category' article.category.pk %}">
        {{ article.category }}</a>
    </p>
    <p>
        标签集合:
        {% for tag in article.tag.all %}
            <a class="btn btn-info btn-xs" href="{% url 'Main:tag' tag.pk %}">{{ tag.name }}</a>
        {% endfor %}
    </p>
    <p>{{ article.body }}</p>
    <form action="{% url 'Main:comment' %}" method="post" role="form" style="padding: 10px;">
        {% csrf_token %}
        <div class="form-group" style="margin-top: 20px;">
            {{ form.comment.errors }}
            <label for="{{ form.comment.id_for_label }}">评论:</label>
            {{ form.comment }}
        </div>
        <input type="hidden" name="article_id" value="{{ article.pk }}"/>
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 50px;">发表</button>
    </form>
    {% for comment in obj_list %}
        <br/>
        <p>评论者: {{ comment.account.user.username }} 发表时间：{{ comment.created_time|date:"Y /m /d H:i" }}</p>
        <p>{{ comment.body }}</p>
    {% endfor %}
{% include 'pagination.html' %}
{% endblock %}